<h1>Listing locations</h1>

<table id="locations-table">
  <tr>
    <th>Address</th>
    <th>State</th>
    <th>Suburb</th>
    <th>Postcode</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Location</a>