<div id="locations"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Btrain.Routers.LocationsRouter({locations: <%= @locations.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>